<template>
<div class="home-modal-content modal-content">

  <div class="modal-content__block">
    <h3 class="modal-content__title">Do you have?</h3>

    <div class="modal-content__list">
      <HomeModalCard
        v-for="card in main"
        :card="card"
        :key="card.key"
        @click="handleClick"
      />
    </div>
  </div>

  <div class="modal-content__block">
    <h3
      class="modal-content__title"
      v-if="width > 667"
      v-html="getTitle"
    />

    <h3
      class="modal-content__title"
      v-else
    >{{ getTitle }}</h3>

    <div class="modal-content__list">
      <HomeModalCard
        v-for="card in secondary"
        :card="card"
        :key="card.key"
        @click="handleClick"
      />
    </div>
  </div>

  <AppButton
    @click="$store.dispatch('search/getValueProposition')"
    class="modal-content__button"
    text="Search"
  />

</div>
</template>

<script>
import * as types from '@/store/mutation-types'

import AppButton from '@/components/app/AppButton'
import HomeModalCard from '@/components/home/modal/HomeModalCard'

export default {
  components: {
    AppButton,
    HomeModalCard
  },

  data() {
    return {

      width: 0,

      main: [{
          image: '/Sell_additional/Garage icon.svg',
          text: 'Parkering/garasje',
          key: 'garage',
          active: this.$store.state.search.garage

        },
        {
          image: '/Sell_additional/Balcony icon.svg',
          text: 'Balkong/terasse',
          key: 'balcony',
          active: this.$store.state.search.balcony
        },
      ],

      secondary: [{
          image: '/Sell_additional/bathroom icon.svg',
          text: 'Bathroom',
          key: 'bathroom',
          active: this.$store.state.search.bathroom
        },
        {
          image: '/Sell_additional/kitchen icon.svg',
          text: 'Kitchen',
          key: 'kitchen',
          active: this.$store.state.search.kitchen
        },
      ]

    }
  },

  computed: {
    getTitle() {
      const str = 'Did you refurbish any of the following<br>since you bought a home?'
      if (this.width > 667) return str
      else return str.replace(/<br>/g, ' ')
    }
  },

  created() {
    if (process.client) {
      this.window = window
      window.addEventListener('resize', this.handleResize)
      this.handleResize()
    }
  },

  destroyed() {
    this.window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    handleResize() {
      this.width = this.window.innerWidth
    },

    handleClick({ card, active }) {
      this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: card.key, value: active })
    }
  }
}
</script>

<style lang="scss" scoped>
.home-modal-content {
    padding: 3.75rem 7.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: $color-light;

    border-radius: 4px;

    @include for-tablet {
        padding: 4rem 2rem;
    }

    @include for-phone {
        padding: 2rem 1rem;
    }

    @media (max-width: 500px) {
        border-radius: 0;
    }

    .modal-content {

        &__block {
            width: 100%;

            margin-bottom: 4rem;
        }

        &__title {
            margin-bottom: 2rem;

            text-align: center;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;

            @include for-phone {
                align-items: center;
                flex-direction: column;
            }
        }

    }
}
</style>
