<template>
<div
  :class="['home-modal-card', { 'home-modal-card--active': isActive }]"
  @click="handleClick"
>

  <img
    class="home-modal-card__image"
    :src="card.image"
  >
  <span class="home-modal-card__text">{{ card.text }}</span>

</div>
</template>

<script>
export default {
  props: {
    card: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    isActive: false
  }),

  watch: {
    card: {
      immediate: true,
      handler() { this.isActive = this.card.active }
    }
  },

  methods: {
    handleClick() {
      this.isActive = !this.isActive
      this.$emit('click', { card: this.card, active: this.isActive })
    }
  }
}
</script>

<style lang="scss" scoped>
.home-modal-card {
    height: 200px;
    width: 200px;

    padding: 2rem;
    &:not(:last-child) {
        margin-right: 1rem;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: $color-light;

    border: 2px solid transparent;
    border-radius: 4px;

    box-shadow: $shadow;

    cursor: pointer;
    transition: 0.2s;

    &--active,
    &:hover {
        border-color: $color-primary;
    }

    @include for-phone {
        margin-bottom: 1rem;
        &:not(:last-child) {
            margin-right: 0;
        }
    }

    &__image {
        height: 100%;
        width: 100%;

        margin-bottom: 1rem;
    }

    &__text {
        font: $font-body;
    }

}
</style>
