<template>
<div class="pricing-methods">

  <div
    class="pricing-methods__content"
    v-for="(n, index) in 2"
    :key="index"
  >
    <h2 class="pricing-methods__title">Pricing methods</h2>

    <div
      class="pricing-methods__paragraph"
      v-for="(n, index) in 2"
      :key="index"
    >
      <span>{{ paragraph }}</span>
    </div>
  </div>

</div>
</template>

<script>
export default {
  data: () => ({
    paragraph: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus.'
  })
}
</script>

<style lang="scss" scoped>
.pricing-methods {
    min-height: $breakpoint-phone;
    padding: 0 1.5rem 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-light;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    @include for-phone {
        padding-bottom: 2rem;
    }

    @include for-small-phone {
        padding: 0;
    }

    &__title {
        margin-bottom: 2rem;

        text-align: center;
    }

    &__content {
        height: 100%;
        max-width: 788px;

        padding: 4rem 8rem;
        margin-top: -15rem;

        @include for-desktop {
            // margin-top: -12rem;
        }

        @include for-laptop {
            margin-top: -12rem;
        }

        @include for-tablet {
            margin-top: -8rem;
        }

        &:first-child {
            margin-left: 1rem;
            margin-right: 0.5rem;

            @media (max-width: 800px) {
                margin: -8rem 0 2rem;
            }

            @include for-small-phone {
                margin: -6rem 0 2rem;
            }
        }

        &:last-child {
            margin-left: 0.5rem;
            margin-right: 1rem;

            @media (max-width: 800px) {
                margin: 0;
            }
        }

        background: $color-light;

        border-radius: 4px;
        box-shadow: $shadow;

        z-index: 1;

        @include for-laptop {
            padding: 4rem;
        }

        @include for-tablet {
            padding: 4rem 2rem;
        }

        @include for-phone {
            padding: 4rem 2rem;
        }

        @include for-small-phone {
            width: 100%;

            padding: 2rem 1rem;

            box-shadow: none;
        }
    }

    &__paragraph {
        text-align: justify;

        margin-bottom: 1.5rem;

        font: $font-body;
        line-height: 1.75rem;
    }
}
</style>
