<template>
<section class="pricing-accordion">

  <h2>Ofte stilte spørsmål</h2>

  <ul class="pricing-accordion__list">
    <li
      class="pricing-accordion__item"
      v-for="(item, index) in faq"
      :key="index"
    >
      <div
        class="pricing-accordion__title"
        @click="trigger(index)"
      >
        <span>{{ item.title }}</span>

        <img
          v-if="active === index"
          src="/icons/Icon - Subtract - Filled.svg"
        >
        <img
          v-else
          src="/icons/Icon - Add - Filled.svg"
        >
      </div>

      <div
        :id="`pricing-accordion-text-${index}`"
        class="pricing-accordion__text"
      >
        <span>{{ item.text }}</span>
      </div>
    </li>
  </ul>

</section>
</template>

<script>
export default {
  data: () => ({

    active: 0,
    elements: [],

    faq: [
      { title: 'Search your address below and we will compare your local brokers?', text: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in V' },
      { title: 'Search your address below and we will compare your local brokers?', text: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in V' },
      { title: 'Search your address below and we will compare your local brokers?', text: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in V' },
      { title: 'Search your address below and we will compare your local brokers?', text: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in V' },
      { title: 'Search your address below and we will compare your local brokers?', text: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in V' },
      { title: 'Search your address below and we will compare your local brokers?', text: 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in V' },
    ]

  }),

  mounted() {
    this.elements = document.getElementsByClassName('pricing-accordion__text')
    this.open(this.elements[0])
  },

  methods: {
    trigger(index) {

      this.active = index
      const element = this.elements[index]

      _.forEach(this.elements, el => this.close(el))

      if (element.style.maxHeight) this.close(element)
      else this.open(element)

    },

    open(el) {
      el.style.maxHeight = el.scrollHeight + 'px'
      el.style.marginBottom = '1rem'
    },

    close(el) {
      el.style.maxHeight = null
      el.style.marginBottom = null
    }
  },
}
</script>

<style lang="scss" scoped>
.pricing-accordion {
    width: 100%;

    padding: 8rem 2rem 10rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: $color-body;

    @include for-small-phone {
        padding: 8rem 1rem;
    }

    &__list {
        max-width: 768px;

        margin-top: 5rem;
    }

    &__item {
        border-bottom: 1px solid $color-primary;
    }

    &__text,
    &__title {
        font: $font-body;
        line-height: 1.75rem;
    }

    &__title {
        padding: 1rem 0;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        font-weight: bold;

        cursor: pointer;

        span {
            padding-right: 1rem;
        }
    }

    &__text {
        max-height: 0;

        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}
</style>
