<template>
<section class="home-feedback">

  <h2 class="home-feedback__title">Let’s keep in touch!</h2>

  <div class="home-feedback__subtitle">
    <span>Subscribe for our newsletter and get more information.</span>
  </div>

  <AppInput
    class="home-feedback__input"
    type="email"
    placeholder="Email adress"
  />

  <AppButton text="Subscribe" />

</section>
</template>

<script>
import AppInput from '@/components/app/AppInput'
import AppButton from '@/components/app/AppButton'

export default {
  components: {
    AppInput,
    AppButton
  }
}
</script>

<style lang="scss" scoped>
.home-feedback {
    min-height: 546px;
    width: 100%;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    color: $color-light;

    background: $color-dark url('/background/keep_in_touch.jpg');
    background-size: cover;
    background-position: 50% 50%;

    @include for-small-phone {
        padding: 0 1rem;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__subtitle {
        margin-bottom: 2.5rem;

        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        line-height: 1.75rem;
        letter-spacing: 1px;

        @include for-phone {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }

    &__input {
        width: 100%;
        max-width: 536px;

        margin-bottom: 2.5rem;
    }
}
</style>
