.scale-enter-active,
.scale-leave-active {
  transition: all .5s;
}

.scale-enter,
.scale-leave-active {
  opacity: 0;
  transform: scale(.3) translateY(24px);
}

// Pop in
.pop-in-enter-active,
.pop-in-leave-active {
  transition: all .5s;
}

.pop-in-enter,
.pop-in-leave-active {
  opacity: 0;
  transform: translateY(-24px);
}

// Pop out
.pop-out-enter-active,
.pop-out-leave-active {
  transition: all .5s;
}

.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(24px);
}
