$color-light: #FFFFFF;
$color-light-1: #F1ECE8;
$color-light-2: #F6F3F1;
$color-light-3: #FBF9F8;

$color-secondary: rgba(31, 31, 31, 0.38);
$color-shadow: rgba(31, 31, 31, .16);
$color-border: rgba(112, 112, 112, 1);

$color-dark: #1F1F1F;

$color-primary: #283FFF;
$color-primary-1: #7E8BFF;
$color-primary-2: #BEC5FF;

$color-warning: #FFAF20;
$color-warning-1: #FFCF79;
$color-warning-2: #FFE7BB;

$color-danger: #FF5A3A;
$color-danger-1: #FF9C88;
$color-danger-2: #FFCDC3;

$color-body: #F1ECE8;

$shadow: 0 3px 6px rgba(0, 0, 0, .16);

$font-subtitle: normal 1.375rem/1.6875rem sans-serif;
$font-body: normal 1rem/1.1875rem sans-serif;
$font-button: bold 0.875rem/1.1875rem sans-serif;
$font-link: bold 1.125rem/1.5rem sans-serif;

// $wrapper-width: 1640px;
$breakpoint-small-phone: 375px;
$breakpoint-phone: 667px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1440px;
$breakpoint-desktop: 1680px;
$breakpoint-big-desktop: 1920px;
