<template>
<div
  class="app-checkbox"
  @click="beforeChange"
>
  <img
    v-if="!checked"
    src="/icons/Selection Control - Checkbox - Off - Enabled.svg"
  >
  <img
    v-else
    src="/icons/Selection Control - Checkbox - On - Enabled.svg"
  >
</div>
</template>

<script>
export default {
  data: () => ({
    checked: false
  }),

  methods: {
    beforeChange() {
      this.checked = !this.checked
      this.$emit('input', this.checked)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-checkbox {
    height: 18px;
    width: 18px;

    cursor: pointer;
}
</style>
