<template>
<div
  class="app-header"
  id="app-header"
>

  <img
    class="app-header__logo"
    src="/logo/HomeFair-logo-white- h.png"
    @click="$router.push({ name: 'sell' })"
  >

  <nav class="app-header__links">
    <nuxt-link
      class="app-header__link"
      v-for="(link, index) in links"
      :to="link.to"
      :key="index"
    >{{ link.text }}</nuxt-link>
  </nav>

  <div class="app-header__divider" />

</div>
</template>

<script>
export default {
  data: () => ({

    links: [
      { to: { name: 'sell' }, text: 'Sell' },
      // { to: { name: 'buy' }, text: 'Buy' },
      { to: { name: 'pricing' }, text: 'Pricing' },
      { to: { name: 'about' }, text: 'About us' }
    ]

  })
}
</script>

<style lang="scss" scoped>
.app-header {
    position: absolute;
    left: 50%;

    width: 100%;
    max-width: $breakpoint-desktop;

    padding: 1.5rem 1.5rem 0;

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1;
    transform: translateX(-50%);

    @include for-phone {
        flex-direction: column;
        justify-content: center;
    }

    &__logo {
        height: 78px;
        width: 252px;

        cursor: pointer;

        @include for-phone {
            margin-bottom: 1rem;
        }
    }

    &__links {
        @include for-tablet {
            margin-right: 1rem;
        }

        @include for-phone {
            margin: 0;
        }
    }

    &__link {
        padding: 19px 0;

        &:not(:last-child) {
            margin-right: 50px;
        }

        font: $font-button;
        color: $color-light;
        text-decoration: none;
        text-transform: uppercase;

        &.nuxt-link-active {
            position: relative;

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 50%;

                height: 2px;
                width: 66px;

                background: $color-primary;

                transform: translateX(-50%);
            }
        }

        @include for-tablet {
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }

    &__divider {
        width: 252px;
        height: 1px;

        @include for-tablet {
            display: none;
        }
    }

}
</style>
