<template>
<section
  :class="['app-hero-area', { 'app-hero-area--small-title': big }, { 'app-hero-area--mouse': mouse }]"
  :style="`background-image: url('${data.image}')`"
>

  <div class="app-hero-area__content">

    <div
      class="app-hero-area__text"
      v-if="data.title && data.subtitle"
    >
      <h1 class="app-hero-area__title">{{ data.title }}</h1>

      <h2
        class="app-hero-area__subtitle"
        v-if="width > 667"
        v-html="getSubtitle"
      />

      <h2
        class="app-hero-area__subtitle"
        v-else
      >{{ getSubtitle }}</h2>
    </div>

    <div class="app-hero-area__slot">
      <slot />
    </div>

    <img
      v-if="mouse"
      class="app-hero-area__mouse"
      src="/icons/scroll down.svg"
    >

  </div>

</section>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    },

    mouse: {
      type: Boolean,
      default: false
    },

    big: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    width: 0,
  }),

  computed: {
    getSubtitle() {
      const str = this.data.subtitle
      if (this.width > 1024) return str
      else return str.replace(/<br>/g, ' ')
    }
  },

  created() {
    if (process.client) {
      this.window = window
      window.addEventListener('resize', this.handleResize)
      this.handleResize()
    }
  },

  destroyed() {
    this.window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    handleResize() {
      this.width = this.window.innerWidth
    }
  }
}
</script>

<style lang="scss" scoped>
$header-height: 102px;
$header-mob-height: calc(138px + 2rem);

.app-hero-area {
    position: relative;

    min-height: 100vh;
    max-height: 1080px;
    width: 100%;

    padding: $header-height 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-dark;
    background-size: cover;
    background-position: bottom;

    @include for-phone {
        padding: $header-mob-height 0 $header-height;
    }

    @include for-small-phone {
        padding: $header-mob-height 0 2rem;
    }

    &--big {

        min-height: 900px;

        .app-hero-area {
            &__title {
                @media (max-width: 400px) {
                    font-size: 1.95rem;
                }
            }
        }
    }

    &--mouse {
        @include for-small-phone {
            padding: $header-mob-height 0 $header-height;
        }
    }

    &__content {
        padding: 0 1.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        text-align: center;

        @include for-phone {
            padding: 0 1rem;
        }
    }

    &__text {
        color: $color-light;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__subtitle {
        width: 100%;
        max-width: 788px;

        margin-bottom: 2.5rem;
        letter-spacing: 1px;
        text-align: center;

        font: $font-subtitle;

        @include for-tablet {
            font-size: 1.25rem;
            line-height: 1.5rem;

            br {
                display: none;
            }
        }

        @include for-phone {
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }

    &__slot {
        width: 100%;
    }

    &__mouse {
        position: absolute;
        bottom: 0;
        left: 50%;

        margin-bottom: 2rem;

        transform: translateX(-50%);
    }
}
</style>
