<template>
<input
  class="app-input"
  type="text"
  placeholder="Enter adress here ..."
>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: 'Type something here...'
    }
  }
}
</script>

<style lang="scss" scoped>
.app-input {
    height: 56px;
    // width: 504px;

    padding: 1.125rem 1rem;

    font: $font-body;
    font-family: 'Roboto', sans-serif;
    line-height: 1.75rem;

    background: $color-light;

    border: 0;
    border-radius: 4px 0 0 4px;

    &::placeholder {
        font-weight: normal;
        color: $color-secondary;
    }

    // @include for-tablet {
    //     width: 70%;
    // }
    //
    // @include for-phone {
    //     width: 100%;
    //
    //     border: 0;
    //     border-radius: 4px 4px 0 0;
    // }
}
</style>
