<template>
<ul class="home-search-list">

  <template v-if="loading">
    <li class="home-search-list__item home-search-list__item--info">
      <icon
        class="home-search-list__icon home-search-list__icon--rotate"
        icon="spinner"
      />

      <span class="home-search-list__text">Loading...</span>
    </li>
  </template>

  <template v-if="list.length">
    <li
      class="home-search-list__item"
      v-for="item in list"
      :key="item.id"
      @click="$emit('onSelect', item)"
    >
      <icon
        class="home-search-list__icon"
        icon="map-marker-alt"
      />

      <span class="home-search-list__text">{{ item.search }}</span>
    </li>
  </template>

  <template v-if="!list.length && !loading">
    <li class="home-search-list__item home-search-list__item--info">
      <icon
        class="home-search-list__icon home-search-list__icon--info"
        icon="exclamation-circle"
      />

      <span class="home-search-list__text">Unfortunately, no results found</span>
    </li>
  </template>

</ul>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      required: true
    },

    loading: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.home-search-list {
    position: absolute;
    left: 0;

    max-height: 250px;
    width: 100%;

    margin: 0;

    background: $color-light;

    border-radius: 0 0 4px 4px;

    overflow-y: auto;

    &__item {
        padding: 1rem;

        text-align: left;
        line-height: 1rem;

        border-top: 1px solid lighten($color-border, 50%);

        cursor: pointer;
        transition: 0.2s;

        &:hover {
            color: $color-primary;
        }

        &--info {
            &:hover {

                color: inherit;
                cursor: default;
            }
        }

    }

    &__icon {
        margin-right: 0.5rem;

        color: $color-primary;

        &--info {
            color: $color-danger;
        }

        &--rotate {
            @include animate-rotate;
        }
    }
}
</style>
