<template>
<div class="home-search">

  <HomeSearchInput
    class="home-search__input"
    placeholder="Enter adress here..."
  />

  <div class="home-search__part">
    <AppInput
      type="number"
      min="0"
      step="1"
      class="home-search__selector"
      placeholder="Bruksareal"
      @input="value => homesize = parseInt(value) > 0 ? parseInt(value) : 0"
    />

    <AppButton
      class="home-search__button"
      text="Søk"
      :disabled="!isValid"
      @click="handleClick"
    />
  </div>

  <!-- <pre>{{ $store.state.search }}</pre> -->

  <AppModal
    :show="modal"
    @close="modal = false"
    content-style="max-width: 1120px"
  >
    <HomeModalContent />
  </AppModal>

</div>
</template>

<script>
import * as types from '@/store/mutation-types'

import AppInput from '@/components/app/AppInput'
import AppButton from '@/components/app/AppButton'
import AppModal from '@/components/app/AppModal'
import HomeSearchInput from '@/components/home/search/HomeSearchInput'
import HomeModalContent from '@/components/home/modal/HomeModalContent'

export default {
  components: {
    AppInput,
    AppButton,
    AppModal,
    HomeSearchInput,
    HomeModalContent
  },

  data: () => ({
    modal: false
  }),

  computed: {
    homesize: {
      get() { return this.$store.state.search.homesize },
      set(value) {
        this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: 'homesize', value })
      }
    },

    isValid() {
      return this.$store.state.search.unit_use_identity && this.$store.state.search && this.homesize > 0
    }
  },

  methods: {
    handleClick() {
      if (this.isValid)
        this.modal = true
    }
  }
}
</script>

<style lang="scss" scoped>
.home-search {
    max-width: 788px;

    margin: 0 auto;

    display: flex;
    justify-content: center;

    @include for-small-phone {
        align-items: center;
        flex-direction: column;
    }

    &__part {
        display: flex;

        @include for-small-phone {
            align-items: center;
            flex-direction: column;
        }
    }

    &__input {
        width: 80%;

        border-radius: 4px 0 0 4px;

        @include for-small-phone {
            border-radius: 4px;
        }
    }

    &__selector {
        min-width: 110px;
        width: 50%;

        border: 0;
        border-radius: 0;
        border-left: 1px solid $color-primary;

        @include for-small-phone {
            margin: 1rem 0;

            border: 0;
            border-radius: 4px;
        }
    }

    &__button {
        width: 50%;

        border-radius: 0 4px 4px 0;

        @include for-small-phone {
            border-radius: 4px;
        }
    }
}
</style>
