<template>
<div class="page-home">

  <AppHeroArea
    class="page-home__hero"
    :data="hero"
    mouse
    big
  >
    <HomeSearch />
  </AppHeroArea>

  <HomeAbout />

  <HomeFeedback />

</div>
</template>

<script>
import AppHeroArea from '@/components/app/AppHeroArea'
import HomeSearch from '@/components/home/search/HomeSearch'
import HomeAbout from '@/components/home/about/HomeAbout'
import HomeFeedback from '@/components/home/HomeFeedback'

export default {
  components: {
    AppHeroArea,
    HomeSearch,
    HomeAbout,
    HomeFeedback
  },

  data: () => ({
    hero: {
      title: 'Skal du selge bolig?',
      subtitle: 'Vi bruker kunstig intelligens til å finne meglerne som sikrer deg høyeste <br> markedspris. Søk på din adresse nedenfor og vi sammenligner dine <br> lokale meglere.',
      image: '/background/sell.jpg'
    }
  })
}
</script>

<style lang="scss" scoped>
.page-home {

    &__hero {}
}
</style>
