<template>
<div class="page-sell-info">


  <AppHeroArea :data="{ image: '/background/sell.jpg' }">
    <!-- <pre>{{ $store.state.search.result }}</pre> -->
    <SellMain :data="$store.state.search.result" />
  </AppHeroArea>


  <SellAbout />

  <SellForm
    @openTerms="terms = true"
    @openPayment="payment = true"
  />

  <AppModal
    :show="terms"
    @close="terms = false"
    content-style="max-width: 1024px"
  >
    <SellTerms />
  </AppModal>

  <AppModal
    :show="payment"
    @close="payment = false"
    content-style="max-width: 700px"
  >
    <SellPayment />
  </AppModal>

  <!-- <button @click="payment = true">Show</button> -->

</div>
</template>

<script>
import AppModal from '@/components/app/AppModal'
import AppHeroArea from '@/components/app/AppHeroArea'
import SellMain from '@/components/sell/SellMain'
import SellAbout from '@/components/sell/SellAbout'
import SellForm from '@/components/sell/SellForm'
import SellTerms from '@/components/sell/SellTerms'
import SellPayment from '@/components/sell/SellPayment'

export default {
  components: {
    AppModal,
    AppHeroArea,
    SellMain,
    SellAbout,
    SellForm,
    SellTerms,
    SellPayment
  },

  data: () => ({
    terms: false,
    payment: false,

    data: [
      'Den estimerte salgsprisen på din bolig er 4 000 000 kr. Estimatet er naturligvis forbunnet med usikkerhet men på Grünerløkka er våre prisestimater i 6 ut av 10 tilfeller mere treffsikre enn selv eiendomsmeglernes prisantydninger.',

      'Vi sammenlignet 35 eiendomsmeglere i ditt område. Våre modeller estimerer at høytpresterende megler vil kunne selge din bolig for 4 200 000 kr, mens lavtpresterende megler vil kunne selge den for 3 900 000 kr. Du kan derfor potensielt sett tjene 300 000 kr mer på boligsalget ved riktig meglervalg!',

      'Er du fremdeles usikker på om du bør bruke vår tjeneste? Se her hvorfor du bør velge oss eller se nedenfor for enkel bestilling.'
    ]
  })
}
</script>

<style lang="scss" scoped>
.page-sell-info {

    &__wrapper-text {
        max-width: $breakpoint-tablet;

        @include for-tablet {
            padding: 2rem;
        }

        @include for-phone {
            padding: 2rem 0;
        }
    }

    &__text {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        text-align: center;
        font-size: 1.875rem;
        color: $color-light;
        letter-spacing: 1px;

        @include for-tablet {
            font-size: 1.5rem;
        }

        @include for-phone {
            font-size: 1.25rem;
        }

        @media (max-width: 450px) {
            font-size: 1rem;
        }
    }
}
</style>
