<template>
<div class="page-sell-thanks">

  <AppHeroArea :data="hero">

    <div class="page-sell-thanks__slot">
      <a
        :href="`http://51.15.109.100:8000/api/v1/Get_Product?prediction_id=${link}`"
        target="_blank"
      >
        <AppButton text="Download link" />
      </a>
    </div>

  </AppHeroArea>

  <section class="page-sell-thanks__content">
    <div class="page-sell-thanks__card">

      <img
        class="page-sell-thanks__image"
        src="/Sell home 3/Search icon.svg"
      >

      <h2 class="page-sell-thanks__title">Happy with your experience?<br>Leave a comment!</h2>

      <div
        class="page-sell-thanks__input"
        v-for="(input, index) in inputs"
        :key="index"
      >
        <AppInputBordered
          :label="input.label"
          :required="input.required"
          :type="input.type"
          v-model="input.value"
        />
      </div>

      <AppButton text="Leave comment" />

    </div>
  </section>

</div>
</template>

<script>
import AppButton from '@/components/app/AppButton'
import AppHeroArea from '@/components/app/AppHeroArea'
import AppInputBordered from '@/components/app/AppInputBordered'

export default {
  components: {
    AppButton,
    AppHeroArea,
    AppInputBordered
  },

  data: () => ({
    hero: {
      title: 'Thank you for your purchase!',
      subtitle: 'Email with a product as an attachment will be sent to your inbox',
      image: '/background/sell.jpg'
    },

    inputs: [
      { label: 'First name', required: false, type: 'name', value: '' },
      { label: 'Comment', required: false, type: 'textarea', value: '' }
    ]

  }),

  computed: {
    link() {
      return this.$store.state.search.result.prediction_id
    }
  }
}
</script>

<style lang="scss" scoped>
.page-sell-thanks {

    &__slot {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
        }
    }

    &__content {
        height: 100%;
        padding-bottom: 8.75rem;

        display: flex;
        justify-content: center;

        z-index: 1;
    }

    &__card {
        width: 90%;
        max-width: 788px;

        // height: 100%;

        margin-top: -5rem;
        padding: 0 7.75rem 3.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        text-align: center;

        background: $color-light;

        border-radius: 4px;
        box-shadow: $shadow;

        z-index: 1;

        @include for-tablet {
            padding: 0 4rem 2rem;
        }

        @include for-phone {
            padding: 0 2rem 1rem;
        }

        @include for-small-phone {
            padding: 0 1rem 1rem;
        }
    }

    &__image {
        margin-top: -8rem;
        margin-bottom: 2.5rem;

        @include for-phone {
            max-height: 250px;
            width: 100%;

            margin-top: -6rem;
        }
    }

    &__title {
        margin-bottom: 4rem;
    }

    &__input {
        width: 100%;

        margin-bottom: 2rem;
    }
}
</style>
