<template>
<section class="home-about">

  <h2 class="home-about__title">Hvordan fungerer boligselgertjenesten?</h2>

  <div class="home-about__content">
    <HomeAboutCard
      v-for="(card, index) in cards"
      :key="index"
      :card="card"
    />
  </div>

  <AppButton text="Learn more" />

</section>
</template>

<script>
import AppButton from '@/components/app/AppButton'
import HomeAboutCard from '@/components/home/about/HomeAboutCard'

export default {
  components: {
    AppButton,
    HomeAboutCard
  },

  data: () => ({
    cards: [
      { image: '/landing/illustrations-search.svg', title: 'Søk', body: 'Vår algoritme finner forskjellen i salgsevne<br>til meglerne I ditt område om de skulle<br>selge din bolig. Vi bruker dine<br>boligspesifikasjoner og salgshistorikken til<br>meglerne i ditt område som grunnlag for<br>vår intelligente løsning. Til meglerne I ditt<br>område om de skulle<br>selge din bolig.' },
      { image: '/landing/illustrations-save.svg', title: 'Hva sparer du?', body: 'Vår algoritme lager et prisestimat for din<br>bolig og et estimat for hva hver enkel<br>megler som opererer i ditt område vil<br>kunne selge din bolig for. Prisestimatet er<br>gratis og du blir opplyst om forskjellen i<br>forventet salgspris på beste og verste<br>megler; altså hvor mye du potensielt sett<br>kan spare på riktig meglervalg.' },
      { image: '/landing/illustrations-buy.svg', title: 'Kjøp og få tilgang', body: 'Etter en enkel transaksjon får du tilgang til <br>listen over meglerne slik at du vet hvem <br>som,  statistisk sett, vil kunne selge din<br>bolig til høyest pris. Du får også tilgang til <br>beste salgstidspunkt for nettopp din bolig,<br>hvordan du skal forhandle med megleren<br>samt annet relevant informasjon for <br>boligselgere.' },
    ]
  })
}
</script>

<style lang="scss" scoped>
.home-about {
    min-height: 100vh;
    width: 100%;

    padding: 10rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    background: $color-light;

    @include for-small-phone {
        padding: 10rem 1rem;
    }

    &__title {
        margin-bottom: 13.75rem;
    }

    &__content {
        margin-bottom: 5rem;

        display: flex;
        justify-content: space-between;

        @include for-laptop {
            max-width: $breakpoint-tablet;
        }

        @include for-tablet {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
</style>
