<template>
<div class="home-about-card">

  <img
    class="home-about-card__image"
    :src="card.image"
  >

  <h3 class="home-about-card__title">{{ card.title }}</h3>

  <div
    class="home-about-card__body"
    v-if="width > 1440"
    v-html="card.body"
  >
  </div>

  <div
    class="home-about-card__body"
    v-else
  >
    <span>{{ getText }}</span>
  </div>

</div>
</template>

<script>
export default {
  props: {
    card: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    width: 0,
  }),

  computed: {
    getText() {
      return this.card.body.replace(/<br>/g, ' ')
    }
  },

  created() {
    if (process.client) {
      this.window = window
      window.addEventListener('resize', this.handleResize)
      this.handleResize()
    }
  },

  destroyed() {
    this.window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    handleResize() {
      this.width = this.window.innerWidth
    }
  }
}
</script>

<style lang="scss" scoped>
.home-about-card {
    height: 464px;
    max-width: 386px;

    padding: 3rem 2rem 2.5rem;

    &:not(:last-child) {
        margin-right: 2rem;
    }

    border-radius: 4px;
    box-shadow: 0 0 10px $color-shadow;

    @include for-laptop {
        height: auto;

        padding: 1.5rem;
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    @include for-tablet {
        &:not(:last-child) {
            margin: 0 1rem 13.75rem;
        }

        &:last-child {
            margin: 0 1rem;
        }
    }

    @include for-phone {
        &:not(:last-child) {
            margin: 0 0 45%;
        }

        &:last-child {
            margin: 0;
        }
    }

    @include for-small-phone {
        &:not(:last-child) {
            margin: 0 0 10rem;
        }
    }

    &__image {
        margin-top: -53%;
        margin-bottom: 2.25rem;

        @include for-laptop {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 1rem;

        text-transform: uppercase;
    }

    &__body {
        font: $font-body;
        font-family: 'Roboto', sans-serif;
        line-height: 1.75rem;
    }
}
</style>
