<template>
<div class="layout-default">
  <AppHeader />

  <nuxt />

  <AppFooter />
</div>
</template>

<script>
import AppHeader from '@/components/app/AppHeader'
import AppFooter from '@/components/app/AppFooter'

export default {
  components: {
    AppHeader,
    AppFooter
  }
}
</script>

<style lang="scss">
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
</style>
