<template>
<div class="page-about">

  <AppHeroArea
    :data="hero"
    mouse
    style="background-position: 40% 50%"
  />


  <div class="container">

    <AboutCard
      v-for="(card, index) in cards"
      :data="card"
      :key="index"
    />

    <AboutPartners />

    <AboutJoin />

  </div>

</div>
</template>

<script>
import AppHeroArea from '@/components/app/AppHeroArea'
import AboutCard from '@/components/about/AboutCard'
import AboutPartners from '@/components/about/AboutPartners'
import AboutJoin from '@/components/about/AboutJoin'

export default {
  components: {
    AppHeroArea,
    AboutCard,
    AboutPartners,
    AboutJoin
  },

  data: () => ({
    hero: {
      title: 'About Us',
      subtitle: 'Vi bruker kunstig intelligens til å finne meglerne som sikrer deg høyeste <br> markedspris. Søk på din adresse nedenfor og vi sammenligner dine <br> lokale meglere.',
      image: '/background/about_us.jpg'
    },

    cards: [{
        title: 'Who are we?',
        text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        image: '/background/Original/omar-lopez-355586-unsplash.jpg'
      },
      {
        title: 'Meet the team',
        text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        image: '/background/Original/omar-lopez-355586-unsplash.jpg'
      },
    ]
  })
}
</script>

<style lang="scss" scoped>
.page-about {}
</style>
