<template>
<div class="page-pricing">

  <AppHeroArea
    :data="hero"
    style="background-position: center;"
  />

  <PricingMethods />

  <PricingAccordion />

</div>
</template>

<script>
import AppHeroArea from '@/components/app/AppHeroArea'
import PricingMethods from '@/components/pricing/PricingMethods'
import PricingAccordion from '@/components/pricing/PricingAccordion'

export default {
  components: {
    AppHeroArea,
    PricingMethods,
    PricingAccordion
  },

  data: () => ({
    hero: {
      title: 'Pricing',
      subtitle: 'Vi bruker kunstig intelligens til å finne meglerne som sikrer deg høyeste<br> markedspris. Søk på din adresse nedenfor og vi sammenligner dine<br>lokale meglere.',
      image: '/background/pricing.jpg'
    }
  })
}
</script>

<style lang="scss" scoped>
.page-pricing {}
</style>
