<template>
<section class="about-partners">

  <h2 class="about-partners__title">Our Sponsors and Partners</h2>

  <div class="about-partners__list">

    <div
      class="about-partners__item"
      v-for="(n, index) in 5"
      :key="index"
    >
      <h2>logo</h2>
    </div>

  </div>

</section>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.about-partners {
    min-height: 567px;

    padding: 10rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        margin-bottom: 5rem;

        text-align: center;
    }

    &__list {
        width: 90%;
        max-width: 810px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        min-height: 110px;
        min-width: 250px;

        margin: 0.5rem;
        width: 30%;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        color: $color-light;

        background: $color-secondary;

        @include for-small-phone {
            min-width: 90%;

            margin: 0;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        h2 {
            text-transform: uppercase;
        }
    }

}
</style>
