<template>
<div class="sell-main">

  <!-- <h2 class="sell-main__link">https://google.com</h2> -->

  <div class="sell-main__content">
    <ul class="sell-main__list">
      <li
        class="sell-main__item"
        v-for="(item, key, index) in data.val_prop_predictions"
        :key="index"
      >
        <span>{{ list[index].text }}</span>
        <span>{{ item }}</span>
      </li>
    </ul>

    <div class="sell-main__text">
      <span>Estimert salgspris på din bolig er naturligvis forbunnet med usikkerhet. Våre modeller har tilfredsstillende treffsikkerhet <b>på Grünerløkka</b> og i <b>6 ut av 10</b> tilfeller presterer de bedre enn eiendomsmeglerne selv til verdivurdering!</span>
    </div>

    <div class="sell-main__text"><span>Vi sammenlignet <b>{{ data.agent_number }} eiendomsmeglere</b> i ditt område for å finne din potensielle fortjeneste ved riktig meglervalgvalg og du kan enkelt få tilgang til de 5 beste på din skreddersydde liste. Se <a @click="goToTerms">her</a> for enkel bestilling eller <nuxt-link :to="{ name: 'pricing' }">her</nuxt-link> for hvorfor du bør velge oss.</span>
    </div>
  </div>

</div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },

  data: () => ({

    list: [
      { text: 'Estimert salgspris på din bolig er', price: '4 000 000 kr.' },
      { text: 'Høytpresterende megler forventes å kunne selge til', price: '4 200 000 kr.' },
      { text: 'Lavtpresterende megler forventes å kunne selge til', price: '3 900 000 kr.' },
      { text: 'Potensiell gevinst med riktig meglervalg blir derfor', price: '300 000 kr.' },
    ]

  }),

  methods: {
    goToTerms() {

      window.scroll({
        behavior: 'smooth',
        left: 0,
        top: document.getElementById('sell-form').offsetTop
      })

    }
  }
}
</script>

<style lang="scss" scoped>
.sell-main {
    color: $color-light;

    @media (max-width: 575px) {}

    @include for-small-phone {
        margin-top: 2rem;
        // margin-top: 1rem;
    }

    &__link {
        margin-bottom: 3.5rem;

        text-decoration: underline;

        cursor: pointer;
        transition: 0.2s;

        &:hover {
            color: $color-primary-1;
        }

        @media (max-width: 575px) {
            margin-bottom: 2rem;
        }
    }

    &__content {
        max-width: $breakpoint-tablet;

        @media (max-width: 575px) {
            margin: auto 0 0;
        }
    }

    &__list {
        padding: 2rem 3rem;
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;

        background: $color-light-3;

        border-radius: 4px;

        @media (max-width: 830px) {
            padding: 2rem;
        }

        @media (max-width: 700px) {
            margin-bottom: 1rem;
        }

        @media (max-width: 450px) {
            padding: 0.5rem;
            margin: 0 -1rem 2rem;
        }
    }

    &__item {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: 1.5rem;
        line-height: 2rem;
        color: $color-dark;
        letter-spacing: 1px;

        &:first-child,
        &:last-child {
            font-weight: bold;
        }

        @include for-tablet {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        @media (max-width: 800px) {
            font-size: 1.2rem;
            letter-spacing: 0;
        }

        @include for-phone {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            font-size: 1rem;
            letter-spacing: 1;
        }

        @media (max-width: 575px) {
            flex-direction: column;
        }

        @media (max-width: 450px) {
            font-size: 0.8rem;
        }
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        font-size: 1.6875rem;
        text-align: center;

        @include for-desktop {
            font-size: 1.5rem;
        }

        @include for-tablet {
            font-size: 1.25rem;
        }

        @media (max-width: 700px) {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        @include for-phone {
            font-size: 1rem;
        }

        @media (max-width: 575px) {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        a {
            font-weight: bold;
            color: $color-light;
            text-decoration: underline;

            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: $color-primary-1;
            }
        }
    }
}
</style>
