<template>
<div class="sell-payment">

  <div class="sell-payment__credentials">
    <label
      class="sell-payment__label"
      for="sell-payment__card"
    >Credit or debit card</label>

    <div id="sell-payment__card" />

    <div class="sell-payment__error">{{ error }}</div>
  </div>
  ​
  <AppButton
    text="Submit Payment"
    @click="createStripe"
    style="height: 40px; margin: auto;"
  />

</div>
</template>

<script>
import AppButton from '@/components/app/AppButton'

export default {
  components: {
    AppButton
  },

  data: () => ({
    error: null,
    stripe: null,
    card: null
  }),

  mounted() {
    this.$nextTick(() => {

      this.stripe = Stripe('pk_test_DzmXfIgWGy0I2CmQg04xg0BS00TFbP9a9b')
      const elements = this.stripe.elements()

      const style = {
        base: {
          color: '#1F1F1F',
          fontSize: '16px',
          fontFamily: '"Roboto", sans-serif',
          '::placeholder': {
            color: 'rgba(31, 31, 31, 0.38)',
          }
        },
        invalid: {
          color: '#e5424d'
        }
      }

      this.card = elements.create('card', { style })
      this.card.mount('#sell-payment__card')
      this.card.addEventListener('change', this.onCardChange)

    })
  },

  beforeDestroy() {
    this.card.removeEventListener('change', this.onCardChange)
  },

  methods: {
    onCardChange(event) {
      this.error = event.error ? event.error.message : null
    },

    createStripe() {
      this.stripe.createToken(this.card).then(async result => {
        if (result.error)
          this.error = await result.error.message
        else
          await this.stripeTokenHandler(result.token)
      })
    },

    stripeTokenHandler(token) {
      this.$store.dispatch('search/payCheck', token.id)

    }
  }
}
</script>

<style lang="scss">
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    background-color: white;

    border: 1px solid $color-primary;
    border-radius: 4px;

    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.sell-payment {
    padding: 4rem 8rem;

    background: $color-light;

    border-radius: 4px;

    &__label {
      margin-bottom: .5rem;

      display: block;

      color: $color-dark;
    }

    &__error {
      margin-top: .5rem;

      color: $color-danger;
    }
}
</style>
