<template>
<div
  class="sell-form"
  id="sell-form"
>

  <h2 class="sell-form__title">Bestilling</h2>

  <div class="sell-form__inputs">

    <AppInputBordered
      class="sell-form__input"
      label="Fornavn"
      required
      type="name"
      v-model="form.name"
      :invalid="$v.form.name.$error"
      :errors="$v.form.name"
      @blur="$v.form.name.$touch()"
    >

      <div
        v-if="$v.form.name.$error"
        class="sell-form__errors"
      >
        <small v-if="!$v.form.name.required">The name field is required</small>

        <small v-else-if="!$v.form.name.alpha">The name field is must contain only alphabetic characters</small>

        <small v-else-if="!$v.form.name.minLength || !$v.form.name.maxLength">The name field should be at least 3 and less then 60 letters to continue</small>
      </div>

    </AppInputBordered>

    <AppInputBordered
      class="sell-form__input"
      label="Etternavn"
      required
      type="name"
      v-model="form.surname"
      :invalid="$v.form.surname.$error"
      @blur="$v.form.surname.$touch()"
    >
      <div
        v-if="$v.form.surname.$error"
        class="sell-form__errors"
      >
        <small v-if="!$v.form.surname.required">The surname field is required</small>

        <small v-else-if="!$v.form.surname.alpha">The surname field is must contain only alphabetic characters</small>

        <small v-else-if="!$v.form.surname.minLength || !$v.form.surname.maxLength">The surname field should be at least 3 and less then 60 letters to continue</small>
      </div>
    </AppInputBordered>

    <AppInputBordered
      class="sell-form__input"
      label="Epost"
      required
      type="email"
      v-model="form.email"
      :invalid="$v.form.email.$error"
      @blur="$v.form.email.$touch()"
    >

      <div
        v-if="$v.form.email.$error"
        class="sell-form__errors"
      >
        <small v-if="!$v.form.email.required">The email field is required</small>

        <small v-else-if="!$v.form.email.email">Invalid email address</small>
      </div>

    </AppInputBordered>

    <AppInputBordered
      class="sell-form__input"
      label="Bekreft epost"
      required
      type="email"
      v-model="form.confirmEmail"
      :invalid="$v.form.confirmEmail.$error"
      @blur="$v.form.confirmEmail.$touch()"
    >
      <div
        v-if="$v.form.confirmEmail.$error"
        class="sell-form__errors"
      >
        <small v-if="!$v.form.confirmEmail.required">Confirm email field is required</small>

        <small v-else-if="!$v.form.confirmEmail.sameAs">Emails do not match</small>
      </div>
    </AppInputBordered>

  </div>

  <div class="sell-form__terms">
    <AppCheckbox
      class="sell-form__checkbox"
      type="checkbox"
      v-model="form.terms"
      :invalid="!form.terms"
    />

    <span class="sell-form__text">I have read <a @click="$emit('openTerms')">Terms and Policy</a></span>
  </div>

  <AppButton
    :disabled="$v.form.$invalid || !form.terms"
    @click="submitForm"
    text="Få tilgang til din rapport"
  />

</div>
</template>

<script>
import * as types from '@/store/mutation-types'
import { required, minLength, maxLength, email, sameAs, alpha } from 'vuelidate/lib/validators'

import AppButton from '@/components/app/AppButton'
import AppCheckbox from '@/components/app/AppCheckbox'
import AppInputBordered from '@/components/app/AppInputBordered'

export default {
  components: {
    AppButton,
    AppCheckbox,
    AppInputBordered
  },

  data: () => ({

    form: {
      name: null,
      surname: null,
      email: null,
      terms: false
    }

  }),

  validations: {
    form: {
      name: {
        alpha,
        required,
        minLength: minLength(3),
        maxLength: maxLength(60)
      },
      surname: {
        alpha,
        required,
        minLength: minLength(3),
        maxLength: maxLength(60)
      },
      email: {
        required,
        email
      },
      confirmEmail: {
        required,
        sameAs: sameAs('email')
      }
    }
  },

  methods: {
    submitForm() {
      this.$v.form.$touch()
      if (!this.$v.form.$invalid) {
        this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: 'form', value: this.form })

        this.$emit('openPayment')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.sell-form {
    max-width: $breakpoint-tablet;

    margin: 0 auto;
    padding: 5rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include for-small-phone {
        padding: 5rem 1rem;
    }

    &__title {
        margin-bottom: 3rem;

        text-align: center;
    }

    &__inputs {
        width: 100%;

        margin-bottom: 1.5rem;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__input {
        width: 50%;

        padding: 1rem 0.5rem;

        @media (max-width: 600px) {
            width: 100%;

            padding: 0;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    &__errors {

        line-height: 1rem;
        color: $color-danger;
    }

    &__terms {
        margin-top: 2rem;
        margin-bottom: 1rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__checkbox {
        margin-right: 1rem;
    }

    &__text {
        line-height: 1.125rem;

        a {
            text-decoration: underline;

            cursor: pointer;
        }
    }
}
</style>
